/* Add additional stylesheets below
-------------------------------------------------- */
html {
    background-image: url("Pluto2.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-color: black;
    background-attachment: fixed;
}

h1 {
    text-align: center;
}

.row {
  position: static;
  white-space: nowrap;
  text-align: center;
}


.battleGrid {
    border: 1px solid white;
    border-spacing: 0px;
}

.battleGrid tr {
    border: 1px solid white;
    height: 30px;
}
.battleGrid td {
    border: 1px solid white;
    width: 30px;
}
.dialogBox {
    text-align: justify;
    text-align-last: center;
    resize: none;
    width: 200px;
    height: 250px;
    padding:5px;
    margin: 15px;


}
td:hover {
    background-color: gray;
}

.placed {
    background-color: gray;
}

.occupied {
    background-color: white;
}

.hit {
    background-color: orange;
}

.sink {
    background-color: red;
}

.miss {
    background-color: blue;
}


#dock {
    width:150px;
    height:180px;
    outline:2px solid;
    float: left;
}

.labelBox {
    width:150px;
    height:20px;
    outline: 0px solid;
}

.topBox {
    width:150px;
    height:140px;
    outline:1px solid;
}

.battleship {
    width:20px;
    height:100px;
    float:left;
    outline: 0px;
    margin-top:10px;
    margin-left:10px;
}

.destroyer {
    width:20px;
    height:80px;
    float:left;
    outline:0px solid;
    margin-top: 10px;
    margin-left:25px;
}

.minesweeper {
    width:20px;
    height:40px;
    float:left;
    outline: 0px solid;
    margin-top:10px;
    margin-left:25px;
}

.box {
    width:20px;
    height:20px;
    float:top;
    outline:1px solid;
}

.bottomBox {
height:20px;
width:150px;
}

.vertical {
    margin-left:35px;
}
.invalid {
    background-color: rgba(156, 31, 0, 0.836) !important;
}

a.restartButton{
    display: block;
    text-align: center;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    font-weight: bold;
    margin-left: 70px;
    margin-right: 70px;

}
